// ####### SCSS Variables #######
// Black
$black-100: #090508;
$black-90: #0E040A;
$black-70: #13030B;
$black-50: #18020C;
$black-30: #211C1E;
$black-20: #2B2427;
// White
$white-100: #FEFEFE;
$white-90: #F2F2F2;
$white-70: #E1E1E1;
$white-50: #D0D0D0;
$white-30: #AEADAD;
$white-20: #8C8A8B;
// Sepia
$sepia-100: #251E12;
$sepia-90: #312517;
$sepia-70: #4E3C27;
$sepia-50: #81694A;
$sepia-30: #B4976D;
$sepia-20: #C7B191;
// Cyan
$cyan-100: #0D5E5C;
$cyan-90: #138583;
$cyan-70: #30ABA5;
$cyan-50: #46D5B3;
$cyan-30: #77E8CD;
$cyan-20: #9DF1DD;
// Fire
$fire-100: #762D23;
$fire-90: #9D3C2F;
$fire-70: #A45044;
$fire-50: #B06D63;
$fire-30: #BC8A82;
$fire-20: #D0B3AE;
// Mustard
$mustard-100: #EBBC00;
$mustard-90: #E8C70A;
$mustard-70: #E6CF01;
$mustard-50: #EFDD3E;
$mustard-30: #F4E775;
$mustard-20: #E2DBAB;
// Burgundy
$burgundy-100: #27060F;
$burgundy-90: #42132A;
$burgundy-70: #53172F;
$burgundy-50: #7C375B;
$burgundy-30: #D792AC;
$burgundy-20: #F7C9CC;
// Indigo
$indigo-100: #3A1B76;
$indigo-90: #472688;
$indigo-70: #53309A;
$indigo-50: #6040A0;
$indigo-30: #6B50A1;
$indigo-20: #846FB2;