// ####### SCSS Variables #######
// Black
$black-100: #090508;
$black-90: #0e040a;
$black-70: #13030b;
$black-50: #18020c;
$black-30: #211c1e;
$black-20: #2b2427;
// White
$white-100: #fefefe;
$white-90: #f2f2f2;
$white-70: #e1e1e1;
$white-50: #d0d0d0;
$white-30: #aeadad;
$white-20: #8c8a8b;
// Sepia
$sepia-100: #251e12;
$sepia-90: #312517;
$sepia-70: #4e3c27;
$sepia-50: #81694a;
$sepia-30: #b4976d;
$sepia-20: #c7b191;
// Cyan
$cyan-100: #0d5e5c;
$cyan-90: #138583;
$cyan-70: #30aba5;
$cyan-50: #46d5b3;
$cyan-30: #77e8cd;
$cyan-20: #9df1dd;
// Fire
$fire-100: #762d23;
$fire-90: #9d3c2f;
$fire-70: #a45044;
$fire-50: #b06d63;
$fire-30: #bc8a82;
$fire-20: #d0b3ae;
// Mustard
$mustard-100: #ebbc00;
$mustard-90: #e8c70a;
$mustard-70: #e6cf01;
$mustard-50: #efdd3e;
$mustard-30: #f4e775;
$mustard-20: #e2dbab;
// Burgundy
$burgundy-100: #27060f;
$burgundy-90: #42132a;
$burgundy-70: #53172f;
$burgundy-50: #7c375b;
$burgundy-30: #d792ac;
$burgundy-20: #f7c9cc;
// Indigo
$indigo-100: #3a1b76;
$indigo-90: #472688;
$indigo-70: #53309a;
$indigo-50: #6040a0;
$indigo-30: #6b50a1;
$indigo-20: #846fb2;
