.background-frame {
    border-style: solid;
    border-width: 1px;
    margin: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 95%;
    height: 88%;
    box-sizing: border-box;
}